
.bg-blue{
    background-color: #379DFB;
}

.bg-darkblue{
    background-color: #266eb0;
}

.border-blue-1{
    border: 1px solid #379DFB;
}

.border-blue-2{
    border: 2px solid #379DFB;
}

.inc-letter-spacing{
    letter-spacing: 1px;
}

.font-20{
    font-size:20px;
}

.font-32{
    font-size: 32px;
}